## Movable Type Configuration File
##
## This file defines system-wide
## settings for Movable Type. In
## total, there are over a hundred
## options, but only those
## critical for everyone are listed
## below.
##
## Information on all others can be
## found at:
##  http://www.movabletype.jp/documentation/config

#======== REQUIRED SETTINGS ==========

CGIPath        /cgi-bin/mt/
StaticWebPath  /mt-static/
StaticFilePath /var/www/html/mt-static

#======== DATABASE SETTINGS ==========

ObjectDriver DBI::mysql
Database mt_db
DBUser mt
DBPassword 1234qwer
DBHost localhost

#======== MAIL =======================
EmailAddressMain admin@example.com
MailTransfer sendmail
SendMailPath /usr/lib/sendmail

DefaultLanguage ja
