## Movable Type Configuration File
##
## This file defines system-wide
## settings for Movable Type. In
## total, there are over a hundred
## options, but only those
## critical for everyone are listed
## below.
##
## Information on all others can be
## found at:
##  http://www.movabletype.jp/documentation/config

#======== REQUIRED SETTINGS ==========

CGIPath        {{ mt_cgi_url_path }}
StaticWebPath  {{ mt_static_url_path }}
StaticFilePath {{ mt_static_dir }}

#======== DATABASE SETTINGS ==========

ObjectDriver DBI::mysql
Database {{ mt_db_name }}
DBUser {{ mt_db_user_name }}
DBPassword {{ mt_db_user_password }}
DBHost localhost

#======== MAIL =======================
EmailAddressMain admin@example.com
MailTransfer sendmail
SendMailPath /usr/lib/sendmail

DefaultLanguage {{ mt_default_language }}
